<h1>会員登録画面</h1>
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "トップ画面へ戻る", root_path %>
</div>
